(
  resources: {},
  entities: {
    4294967301: (
      components: {
        "bevy_core::name::Name": "Plane",
        "bevy_render::primitives::Aabb": (
          center: (0.0, 0.0, 0.0),
          half_extents: (1.0, 0.0, 1.0),
        ),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((10.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
        "nest_editor_shared::scene_manager::EditorMeshWrapper": (
          mesh_path: "models/Plane.obj",
        ),
        "nest_editor_shared::scene_manager::EditorStandardMaterialWrapper": (
          color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
    4294967302: (
      components: {
        "bevy_core::name::Name": "Cube",
        "bevy_render::primitives::Aabb": (
          center: (0.0, 0.0, 0.0),
          half_extents: (1.0, 1.0, 1.0),
        ),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.5, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.5, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "nest_editor_shared::scene_manager::EditorMeshWrapper": (
          mesh_path: "models/Cube.obj",
        ),
        "nest_editor_shared::scene_manager::EditorStandardMaterialWrapper": (
          color: Srgba((
            red: 0.2,
            green: 0.8,
            blue: 0.8,
            alpha: 1.0,
          )),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
    4294967303: (
      components: {
        "bevy_core::name::Name": "Light",
        "bevy_pbr::bundle::CascadesVisibleEntities": (),
        "bevy_pbr::light::CascadeShadowConfig": (
          bounds: [
            5.0,
            29.24018,
            170.99762,
            1000.0001,
          ],
          overlap_proportion: 0.2,
          minimum_distance: 0.1,
        ),
        "bevy_pbr::light::Cascades": (
          cascades: {
            4294967300: [
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 0.84863096, 2.839084, 8.516668, 1.0),
                clip_from_cascade: (0.2857143, 0.0, 0.0, 0.0, 0.0, 0.2857143, 0.0, 0.0, 0.0, 0.0, 0.16939302, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.2545733, -0.058887843, 0.068520926, 0.0, -0.000000004257475, 0.2545733, 0.07690284, 0.0, -0.12971161, -0.11557388, 0.13447985, 0.0, 0.88867193, 0.31152344, -0.42180288, 1.0),
                texel_size: 0.0034179688,
              ),
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 11.4386835, 3.2448664, 0.59487057, 1.0),
                clip_from_cascade: (0.05, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.030368568, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.044550326, -0.010305372, 0.012284346, 0.0, -0.00000000074505807, 0.044550326, 0.013787045, 0.0, -0.022699531, -0.020225428, 0.02410938, 0.0, -0.49609375, -0.0146484375, 0.8004042, 1.0),
                texel_size: 0.01953125,
              ),
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 73.97813, 6.3420944, -44.447533, 1.0),
                clip_from_cascade: (0.00862069, 0.0, 0.0, 0.0, 0.0, 0.00862069, 0.0, 0.0, 0.0, 0.0, 0.005192952, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.0076810904, -0.0017767883, 0.0021005936, 0.0, -0.00000000012845829, 0.0076810904, 0.0023575516, 0.0, -0.003913712, -0.0034871427, 0.004122646, 0.0, -0.7421875, -0.072265625, 1.0128917, 1.0),
                texel_size: 0.11328125,
              ),
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 439.4032, 24.278053, -307.59918, 1.0),
                clip_from_cascade: (0.0014781966, 0.0, 0.0, 0.0, 0.0, 0.0014781966, 0.0, 0.0, 0.0, 0.0, 0.0008879823, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.0013170827, -0.0003046673, 0.00035919645, 0.0, -0.000000000022026846, 0.0013170827, 0.00040313564, 0.0, -0.00067108736, -0.0005979432, 0.0007049625, 0.0, -0.78515625, -0.08203125, 1.0492265, 1.0),
                texel_size: 0.66064453,
              ),
            ],
          },
        ),
        "bevy_pbr::light::directional_light::DirectionalLight": (
          color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
          illuminance: 1000.0,
          shadows_enabled: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 1.8,
        ),
        "bevy_render::primitives::CascadesFrusta": (),
        "bevy_render::sync_world::SyncToRenderWorld": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((0.89100647, -0.000000007450581, -0.45399052, -0.20610741, 0.89100647, -0.40450853, 0.40450853, 0.45399052, 0.79389256, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (-0.22699527, 0.22699527, 0.05449675, 0.94550323),
          scale: (1.0, 1.0, 1.0),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
  },
)