(
  resources: {},
  entities: {
    4294967301: (
      components: {
        "bevy_core::name::Name": "Plane",
        "bevy_render::primitives::Aabb": (
          center: (0.0, 0.0, 0.0),
          half_extents: (1.0, 0.0, 1.0),
        ),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((10.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0, 10.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (10.0, 10.0, 10.0),
        ),
        "nest_editor_shared::scene_manager::EditorMeshWrapper": (
          mesh_path: "models/Plane.obj",
        ),
        "nest_editor_shared::scene_manager::EditorStandardMaterialWrapper": (
          color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
    4294967302: (
      components: {
        "bevy_core::name::Name": "Cube",
        "bevy_render::primitives::Aabb": (
          center: (0.0, 0.0, 0.0),
          half_extents: (1.0, 1.0, 1.0),
        ),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.5, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.5, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "nest_editor_shared::scene_manager::EditorMeshWrapper": (
          mesh_path: "models/Cube.obj",
        ),
        "nest_editor_shared::scene_manager::EditorStandardMaterialWrapper": (
          color: Srgba((
            red: 0.2,
            green: 0.8,
            blue: 0.8,
            alpha: 1.0,
          )),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
    4294967303: (
      components: {
        "bevy_core::name::Name": "Light",
        "bevy_pbr::bundle::CascadesVisibleEntities": (),
        "bevy_pbr::light::CascadeShadowConfig": (
          bounds: [
            5.0,
            29.24018,
            170.99762,
            1000.0001,
          ],
          overlap_proportion: 0.2,
          minimum_distance: 0.1,
        ),
        "bevy_pbr::light::Cascades": (
          cascades: {
            4294967300: [
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 0.20167261, 4.102562, 7.804066, 1.0),
                clip_from_cascade: (0.25, 0.0, 0.0, 0.0, 0.0, 0.25, 0.0, 0.0, 0.0, 0.0, 0.16672184, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.22275162, -0.05152686, 0.06744041, 0.0, -0.0000000037252903, 0.22275162, 0.07569015, 0.0, -0.11349765, -0.10112714, 0.13235922, 0.0, 0.8408203, -0.11425781, -0.3570646, 1.0),
                texel_size: 0.00390625,
              ),
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 12.841641, 1.6040757, 0.97355604, 1.0),
                clip_from_cascade: (0.045454547, 0.0, 0.0, 0.0, 0.0, 0.045454547, 0.0, 0.0, 0.0, 0.0, 0.029575216, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.040500294, -0.00936852, 0.011963428, 0.0, -0.00000000067732553, 0.040500294, 0.01342687, 0.0, -0.020635938, -0.018386753, 0.023479544, 0.0, -0.5, 0.07324219, 0.8019736, 1.0),
                texel_size: 0.021484375,
              ),
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 87.16453, -12.437754, -37.910133, 1.0),
                clip_from_cascade: (0.007905139, 0.0, 0.0, 0.0, 0.0, 0.007905139, 0.0, 0.0, 0.0, 0.0, 0.0050572893, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.00704353, -0.0016293079, 0.0020457169, 0.0, -0.00000000011779575, 0.00704353, 0.0022959618, 0.0, -0.0035888588, -0.0031976963, 0.004014944, 0.0, -0.75000006, 0.108398445, 1.0024498, 1.0),
                texel_size: 0.123535156,
              ),
              (
                world_from_cascade: (0.8910065, -0.000000014901161, -0.45399058, -0.0, -0.20610745, 0.8910065, -0.40450856, 0.0, 0.40450856, 0.45399058, 0.7938925, -0.0, 522.326, -94.95389, -265.33942, 1.0),
                clip_from_cascade: (0.0013568521, 0.0, 0.0, 0.0, 0.0, 0.0013568521, 0.0, 0.0, 0.0, 0.0, 0.00086478435, 0.0, 0.0, 0.0, 1.0, 1.0),
                clip_from_world: (0.001208964, -0.0002796573, 0.00034981268, 0.0, -0.000000000020218672, 0.001208964, 0.00039260398, 0.0, -0.0006159981, -0.0005488583, 0.00068654586, 0.0, -0.7949219, 0.115234375, 1.0367306, 1.0),
                texel_size: 0.71972656,
              ),
            ],
          },
        ),
        "bevy_pbr::light::directional_light::DirectionalLight": (
          color: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
          illuminance: 1000.0,
          shadows_enabled: true,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 1.8,
        ),
        "bevy_render::primitives::CascadesFrusta": (),
        "bevy_render::sync_world::SyncToRenderWorld": (),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((0.89100647, -0.000000007450581, -0.45399052, -0.20610741, 0.89100647, -0.40450853, 0.40450853, 0.45399052, 0.79389256, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (-0.22699527, 0.22699527, 0.05449675, 0.94550323),
          scale: (1.0, 1.0, 1.0),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
    4294967304: (
      components: {
        "bevy_core::name::Name": "Totally new cube",
        "bevy_render::primitives::Aabb": (
          center: (0.0, 0.0, 0.0),
          half_extents: (1.0, 1.0, 1.0),
        ),
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (true),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((-0.018150568, 0.4330183, 0.9012024, -0.6213449, -0.71105385, 0.32913977, 0.7833269, -0.5539835, 0.28195977, 3.5, 1.7, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (3.5, 1.7, 0.0),
          rotation: (0.5939157, -0.07927331, 0.7090776, 0.37173763),
          scale: (1.0, 1.0, 1.0),
        ),
        "nest_editor_shared::scene_manager::EditorMeshWrapper": (
          mesh_path: "models/Cube.obj",
        ),
        "nest_editor_shared::scene_manager::EditorStandardMaterialWrapper": (
          color: LinearRgba((
            red: 0.5588362,
            green: 0.07551433,
            blue: 0.07551433,
            alpha: 1.0,
          )),
        ),
        "nest_editor_shared::scene_manager::SceneObject": (),
      },
    ),
  },
)